.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: #4361ee;
  }

  h1 {
    font-size: 0.875rem;
    margin: 0;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
}

.buttons {
  button {
    margin-left: 10px;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }

  a {
    text-decoration: none;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }
}
